{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/hr_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
    <link rel="stylesheet" href="{% static 'css/application_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/interview.css' %}">



</head>
<body>

    {% block pages %}

    {% endblock %}
    
</body>
</html>